.glass-card {
  backdrop-filter: blur(25px);
  background: rgba(255, 255, 255, 0.06);
  border-radius: 18px;
  padding: 20px;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.09);
  box-shadow:
    inset 3px 3px 10px rgba(255, 255, 255, 0.05),
    inset -3px -3px 10px rgba(0, 0, 0, 0.4),
    0 0 25px rgba(0, 0, 0, 0.6);
}
